<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="form-group">
                <label>Account Name</label>
                <input type="text" class="form-control" #accountname>
        </div>
        <div class="form-group">
            <label>Account Status</label>
            <select class="form-control" #status>
                <option value="active">Active</option>
                <option value="inactive">InActive</option>
            </select>
        </div>
         <button class="btn btn-primary" (click)="oncreateaccount(accountname.value,status.value)">Add Account</button>
    </div>
   
</div>
