<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <h3>Using Logging Service</h3><br>
      <app-new-account (accountadded)="onaccountadded($event)">

      </app-new-account>

      <app-account *ngFor="let act of accounts; let i = index" [account] = "act" [id]="i" (statuschanged)="onstatuschange($event)">

      </app-account>

    </div>
  </div>
</div>