<div class="row">
    <hr>
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        {{account.name}}
        <p>Status of Account: {{account.status}}</p>
        Set to: <button class="btn btn-success" (click)="Onset('active')">Active</button>&nbsp;
        <button class="btn btn-danger" (click)="Onset('inactive')">InActive</button>

    </div>
</div>